/* Copyright 2011 the Dart project authors. All rights reserved. */
/* Use of this source code is governed by a BSD-style license */
/* that can be found in the LICENSE file. */

body {
  background: rgb(22, 19, 19);
  width: 100%;
}

h2 {
  margin-bottom: 25;
  text-align: center;
  color: #fbfbfb;
}

h3{
  color: #fbfbfb;
}

.inputs{
  width: 50%;
}

.row{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
}

.row input{
  height: 20pt;
  width: 12pt;
}

.area{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  justify-content: center;
}

.canvas_area{
  width: 50%;
}
